<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<main>
    <form action="/admin/edit-product" method="POST">
        <div class="container">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" name="title" type="text" id="title"
                    value="<% if (editing) { %> <%= product.title %><% } %>" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" id="description" rows=5><% if (editing) { %> <%= product.description %><% } %>
                </textarea>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input class="form-control" name="price" type="number" id="price"
                    value="<% if (editing) { %><%= product.price %><% } %>" step="0.01" />
            </div>
            <div class="form-group">
                <label for="imgUrl">Image URL</label>
                <input class="form-control" name="imgUrl" type="text" id="imgUrl"
                    value="<% if (editing) { %> <%= product.imgUrl %><% } %>" />
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= product.id %>" name="productId" />
            <% } %>
            <button class="btn btn-primary" type="submit">
                <% if (editing) { %> Update Product <% } else { %> Add Product <% } %>
            </button>
        </div>
    </form>
</main>
<%- include('../includes/end.ejs') %>