<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<main class="container d-flex flex-wrap justify-content-center">
    <% if (prods.length > 0) { %>
    <% for (let prod of prods) { %>
    <div class="card card-width mb-4 box-shadow d-inline-flex m-2">
        <div class="card-header">
            <h5 class="card-title d-block" style="height: 40px;"><%= prod.title %></h5>
        </div>
        <div class="card-body text-center">
            <img class="card-img-top" src="<%= prod.imgUrl %>" alt="<%= prod.title %>" />
            <p class="card-text">
                <%= prod.description %>
            </p>

        </div>
        <div class="card-footer text-center">
            <h2 class="card-title pricing-card-title">
                PLN <%= prod.price %>
            </h2>
            <a href="/admin/edit-product/<%=prod._id%>?edit=true" class="btn btn-primary">
                Edit
            </a>
            <form action="/admin/delete-product" method="POST" class="d-inline">
                <input type="hidden" name="productId" value="<%= prod._id %>" />
                <button class="btn btn-primary" type="submit">
                    Delete
                </button>
            </form>
        </div>
    </div>
    <% } %>
    <% } else { %>
    <h2>No products</h2>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>