<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<main class="container d-flex flex-wrap justify-content-center">
    <% if (users.length > 0) { %>
    <% for (let user of users) { %>
    <div class="card card-width mb-4 box-shadow d-inline-flex m-2">
        <div class="card-header">
            <h5 class="card-title d-block" style="height: 40px;"><%= user.name %></h5>
        </div>
        <div class="card-body text-center">
            <img class="card-img-top" src="<%= user.iconUrl %>" alt="<%= user.name %>" />
            <p class="card-text">
                <%= user.email %>
            </p>

        </div>
        <div class="card-footer text-center">
            <a href="/admin/edit-user/<%=user._id%>?edit=true" class="btn btn-primary">
                Edit
            </a>
            <form action="/admin/delete-user" method="POST" class="d-inline">
                <input type="hidden" name="userId" value="<%= user._id %>" />
                <button class="btn btn-primary" type="submit">
                    Delete
                </button>
            </form>
        </div>
    </div>
    <% } %>
    <% } else { %>
    <h2>No users</h2>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>