<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<main class="container d-flex flex-wrap justify-content-center">
    <% if (products.length > 0) { %>
    <ul class="list-group list-group-flush">
        <% products.forEach(prod => { %>
        <li class="list-group-item d-flex justify-content-around align-items-center">
            <span class="m-2"><img class="rounded img-fluid img-thumbnail" style="width: 70px; height: 70px;"
                    src="<%=prod.imgUrl %>" alt="<%=prod.title %>"></span>
            <%=prod.title %>
            <span class="badge badge-primary badge-pill ml-4 p-2 pl-4 pr-4"><%=prod.quantity %></span>
            <span class="ml-4 p-2 pl-4 pr-4"><%= prod.price %></span>
            <span>
                <form action="/cart-delete-item" method="POST">
                    <input type="hidden" name="prodId" value="<%= prod._id %>" />
                    <input type="hidden" name="prodPrice" value="<%= prod.price %>" />
                    <input type="submit" class="btn" value="&times;">
                </form>
            </span>
        </li>
        <% }) %>
    </ul>
    <% } else { %>
    <h1>No Products in Cart</h1>
    <% } %>
    <div class="w-100 text-center">
        <form action="/create-order" method="POST">
            <button class="btn btn-primary">Create order</a>
        </form>
    </div>
    
</main>

<%- include('../includes/end.ejs') %>